.articles-container {
  padding: 20px;
  min-height: 100vh;
  background-image: radial-gradient(circle, #306B34, #C3EB78);
}

.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 20px;
}

.article-container {
  background: linear-gradient(to bottom right, #F3FFC6, #C3EB78);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.article-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.article-container h3 {
  margin: 0;
  font-size: 1.5em;
}

.article-date {
  color: #555;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.article-short-text {
  font-size: 1em;
  color: #333;
  word-wrap: break-word; 
  white-space: normal;    
}
