.article-container {
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid #B6174B;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #F3FFC6;
  width: 350px;
  height: auto;
}

.article-container:hover {
  background-color: #C3EB78;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-header h2 {
  margin: 0;
}

.article-header span {
  font-size: 0.8em;
  color: #777;
}
