@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slide {
    text-align: center;
    padding: 10px;
}

.slick-slide h3 {
    background: #ddd;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
