/* src/css/Carousel.css */
.carousel-container {
    width: 80%;
    margin: auto;
}

.carousel-slide {
    text-align: center;
    padding: 10px;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.carousel-slide h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.carousel-slide p {
    font-size: 0.9em;
    color: #666;
}
